*,
html,
*::before,
*::after {
    box-sizing: border-box;
}

.carousel {
    width: 80%;
    position: relative;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}

.first {
    order: -1;
    transition: all ease-in-out 600ms;
}


/* .middle {
    order: 0;
} */

.last {
    order: 1;
    transition: all ease-in-out 600ms;
}

.carousel-item {
    display: none;
    /* display: inline-block; */
    max-height: 600px;
    /* width: 300px; */
    width: 0;
    /* opacity: 0; */
    overflow: hidden;
    padding: 3em;
    color: white;
    background: green;
}

.carousel-item:nth-of-type(1) {
    background: red;
}

.carousel-item:nth-of-type(2) {
    background: green;
}

.carousel-item:nth-of-type(3) {
    background: grey;
}

.carousel-item:nth-of-type(4) {
    background: yellow;
}

.carousel-item:nth-of-type(5) {
    background: aqua;
}

.carousel-item:nth-of-type(6) {
    background: blue;
}

.carousel-item-hidden {
    display: none;
}

.carousel-item img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.carousel-item-visible {
    display: inline-block;
    width: 300px;
    opacity: 1;
    /* transition: all ease-in-out 600ms; */
    /* animation: fadeVisibility 0.2s; */
}

@keyframes fadeVisibility {
    0% {
        opacity: 0;
    }
    /* 25% {
        opacity: 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    } */
    100% {
        opacity: 1;
    }
}

.carousel-actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-actions button {
    border-radius: 50px;
    background-color: white;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
    outline: none;
    opacity: 0.7;
}

.carousel-actions button:hover {
    opacity: 1;
    transition: all ease 300ms;
}

#carousel-button-prev {
    margin-left: 20px;
}

#carousel-button-next {
    margin-right: 20px;
}

.indicators {
    position: absolute;
    bottom: 10%;
    display: flex;
    width: 60%;
    justify-content: space-evenly;
    left: 20%;
    right: 20%;
}

.indicator {
    width: 10px;
    height: 10px;
    background: whitesmoke;
    opacity: 0.8;
    cursor: pointer;
}

.active {
    border: 1px solid firebrick;
    transform: scale(1.5);
    opacity: 1;
    transition: all ease 300ms;
}

.controls {
    position: absolute;
    width: 96%;
    bottom: 5%;
    left: 2%;
    right: 2%;
    display: flex;
    justify-content: flex-start;
}

.controls button {
    font-size: 26px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
    opacity: 0.6;
}

.controls button:hover {
    opacity: 1;
    transition: all ease 300ms;
}